.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh
}

.titleText {
  font-size: 28px;
  margin-bottom: 20px;
}

.signBox {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  border: 0.5px solid #555;
  background-color: #191919;
  border-radius: 100vh;
  width: 512px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 0px 12px 22px;
  width: 452.5px;
  max-width: 452.5px;
}

.inputImage {
  border: none;
  border-left: 0.5px solid #555555;
  background-color: #2b2b2b;
  border-radius: 0 100vh 100vh 0;
  padding: 12px 16px 12px 14px;
}

.signButton {
  border: 0.5px solid #555;
  background-color: #191919;
  border-radius: 100vh;
  padding: 12px 48px;
  font-size: 18px;
  margin-top: 24px;
}

.successText {
  font-size: 48px;
}